body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: rgb(24, 24, 24);
    -moz-user-select: none;
    -webkit-user-select: none;
    font-family: 'Chivo Mono', monospace;
    user-select: none;
}

#heading {
    display: flex;
    position: relative;
    width: 100vw;
    justify-content: center;
    margin-top: 0.7rem;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 5;
    font-size: 0em;
    letter-spacing: 0.15em;
    line-height: 0.4;
}

#heading.active {
    font-size: 3.5em;
    transition: 0.6s;
    margin-top: 3rem;
}

#subheading{
    color: white;
    text-align: center;
    font-size: 0;

}
#subheading.active{
    color: white;
    font-size: 0.9rem;

}

#label-wrapper{
    display: flex;
    align-items: center;
    margin: 0 10px 0px 8px;
}

#heading #img-label{
    all: initial;
    color: transparent;
    /*font-size: 1.5rem;
    */position: relative;
    /* letter-spacing: 0.15em; */
    width: 18px;
    height: 24px;
    border: 3.6px solid white;
    border-radius: 46%;
    z-index: 5;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    background: rgb(24, 24, 24);
    -webkit-border-radius: 46%;
    -moz-border-radius: 46%;
    -ms-border-radius: 46%;
    -o-border-radius: 46%;
}

#heading #img-label.active {
    all: initial;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    border-radius: 0;
    transition: 0.8s;
    width: 700px;
    height: 80px;
    border: 2px solid white;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background: rgba(0, 0, 0, 0.75);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}


#arrows{
    position: absolute;
    color: white;
    top: 7rem;
    font-size: 0em;
    width: 100vw;
    height: 4em;
    transition: 0.6;
    -webkit-transition: 0.6;
    -moz-transition: 0.6;
    -ms-transition: 0.6;
    -o-transition: 0.6;
}
#arrows.active{
    transition: 0.6s;
    font-size: 4.5em;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

#arrows #arrow-left {
    position: absolute;
    left: 5rem;
}


#arrows #arrow-right {
    position: absolute;
    right: 5rem;
}

#counter-wrapper {
    position: absolute;
    height: 1.3em;
    width: 90px;
    color: transparent;
    margin: 0;
    padding: 0;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2.5em;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    font-size: 1.3em;
}

#counter {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-612.5px);
    -webkit-transform: translateY(-612.5px);
    -moz-transform: translateY(-612.5px);
    -ms-transform: translateY(-612.5px);
    -o-transform: translateY(-612.5px);
}

#dash {
    position: absolute;
    left: 50%;
    /* text-align: center; */
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#counter2 {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
}


.image {
    width: 280px;
    height: clamp(36vmin, 46vmin, 56vmin);
    object-fit: cover;
    object-position: 100% center;
    transition-duration: 1.2s;
    z-index: 2;
}

.image.maximized {
    transition-duration: 1s;
    transition: ease-out;
    height: auto;
    /* width: clamp(1015px, 1050px, 1200px); */
    width: 70vw;
    object-fit: contain;
    z-index: 4;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transform: translateY(2%);
    -webkit-transform: translateY(2%);
    -moz-transform: translateY(2%);
    -ms-transform: translateY(2%);
    -o-transform: translateY(2%);
}


.image:hover {
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    cursor: pointer;
}

.image.maximized:hover {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}

#carousel {
    display: flex;
    position: absolute;
    gap: 3vmin;
    top: 50%;
    left: -450%;
}

/* #carousel.minimized{
    gap: 3px;
    position: absolute;
    left: 50%;
    right: -50%;
    transform: translateX(-50%);
    top: 90%;
    bottom: 10%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
} */