body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: rgb(24, 24, 24);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#heading {
    position: absolute;
    margin: 0;
    font-family: 'Chivo Mono', monospace;
    width: 100%;
    text-align: center;
    color: transparent;
    transition: 4s;
    transition: ease-out;
    -webkit-transition: 4s;
    -moz-transition: 4s;
    -ms-transition: 4s;
    -o-transition: 4s;
    z-index: 2;
}

#heading h1 {
    letter-spacing: 15px;
    font-size: 3em;
    z-index: 2;
}

#counter-wrapper{
    position: absolute;
    height: 1.3em;
    width: 6%;
    color: transparent;
    margin: 0;
    padding: 0;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3em;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    font-size: 1.3em;
    font-family: 'Chivo Mono', monospace;
}

.counterNum{
    /* transition-delay: 2s;
    transition-duration: 2s; */
}

#counter{
    margin: 0;
    position: absolute;
    left: 0;
 
}

#dash{
    position: absolute;
    left: 50%;
    /* text-align: center; */
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
#counter2{
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
}


.image {
    width: 280px;
    height: clamp(36vmin, 46vmin, 56vmin);
    object-fit: cover;
    object-position: 100% center;
    transition-duration: 1s;
    /* border: 1px white solid; */
}

.image.maximized {
    height: 1000px;
    width: 1000px;
}

.image.minimized {
    height: 70px;
    width: 40px;
    transition-duration: 1s;
    border: none;
    left: 43%;
    right: 57%;
    top: auto;
    bottom: 0;
}

.image:hover {
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    cursor: pointer;
}

#carousel {
   display: flex;
   position: absolute;
   gap: 3vmin;
   top: 55%;
   left: -450%;
}

#carousel.minimized{
    gap: 3px;
    position: absolute;
    left: 50%;
    right: -50%;
    transform: translateX(-50%);
    top: 90%;
    bottom: 10%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}